@import './../assets/styles/vars';

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
	background-color: #0008;
  color: $text-color;	

	main {
		width: 100%;
		padding: 4px;
		margin: auto 0;
	}
}

.Pda {
	max-height: calc(100vh - 68px);
}